/*------------------------------------ 
	
	WEBSITE HANDCODED BY JANSBURY 
	www.jansbury.com
	
------------------------------------*/

/* ==========================================================================
   Jansbury CSS Reset
   ========================================================================== */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
html,body {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}


/* ==========================================================================
   Just a font to the face
   ========================================================================== */



/* ==========================================================================
   Normals
   ========================================================================== */

* {margin: auto;padding: 0;text-decoration:none;list-style: none outside none;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
img {vertical-align: middle;}
fieldset {border: 0;margin: 0;padding: 0;}
textarea {resize: vertical;}
.chromeframe {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}
html{height:100%;}

/* ==========================================================================
   IE Message
   ========================================================================== */

.iemess{display:none;margin: 20px auto;width: 50%;line-height:2em;font-size: 2em;text-align:center;}
.lt-ie8 .iemess{display: block;} 
.lt-ie8 .iemess a{color: #4e4c4c;} 
.lt-ie8 .iewrap{display: none;}

/* ==========================================================================
   Main Css
   ========================================================================== */

/* ---- Home ---- */

body{
	font-size: 1em;
	font-family: "Times New Roman",Georgia,Serif;
	
}

.logo{
	background: url(../i/logo.jpg) 0 0 no-repeat;
	width: 155px;
	height: 42px;
	margin: 15px;
	float: left;
}
nav.main{
	float: left;
	font-size: 0.750em;
	margin: 30px 0px;
}
nav.main li{ 
	display: inline-block;
	color:#9FD3AE;
	position: relative;
}
nav.main li a{
	text-transform: uppercase;
	margin: 0 5%;
}
.left{
	width: 40%;
	height: 100%;	
	float: left;
	top: 0;
	bottom: 0;
	position: fixed;
	background-color: rgba(0,0,0,0.1)
}
.right{
	width:60%;
	height: 100%;
	float: left;
	position: relative;
	left:40%;
}
.homeLeft{
	width: 60%;
	height: 100%;	
	float: left;
	top: 0;
	bottom: 0;
	position: fixed;
	background-color: rgba(0,0,0,0.1)
}
.homeRight{
	width:40%;
	height: 100%;
	float: left;
	position: relative;
	left:40%;
}

.aboutUs{
	width: 60%;
	margin: auto;
	position: relative;
	margin-top:30%;
	height: 155px;
}

.aboutUs h3{
	margin: 12px 0;
	letter-spacing: 0.1em;
}

.aboutUs p{
	line-height: 28px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}